.foodCard {
  width: 350px;
  height: 500px;
  margin: 15px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  transition: transform 0.2s; /* Animation */
}

.foodCard:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: scale(1.1);
}
.card__img {
  width: 350px;
  height: 225px;
}

.foodCard__title {
  font-weight: bold;
}
.foodCard__desc {
  height: 100px;
  font-size: 14px;
  padding-top: 7px;
}
.foodCard__body {
  padding: 12px;
}
.card__button {
  height: 45px;
  width: 300px;
  background-color: #fccc4c;
  /* background-color: #ffca40; */
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}
.card__button:hover {
  background-color: #ed4e53;
  border: 1px solid #ed4e53;
  color: white;
}
.foorCart__button {
  padding: 3px;
  margin-left: 12px;
}
.foodCard__price {
  font-weight: 500;
  padding-top: 8px;
}
.cart__body__quantity {
  display: flex;
  padding: 10px;
  margin-bottom: 20px;
  /* margin-left: 80px; */
}
.quantity__add {
  background-color: #ffca40;
  height: 25px;
  width: 30px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 10px;
}
.quantity__subtract {
  background-color: rgb(224, 224, 224);
  /* background-color: #ffca40; */

  height: 25px;
  width: 30px;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 10px;
}

@media only screen and (max-width: 600px) {
  .foodCard {
    width: 320px;
  }
  .card__img {
    width: 320px;
  }
  .foodCard__desc {
    font-size: 12px;
  }
  .card__button {
    width: 270px;
  }
}
@media only screen and (max-width: 350px) and (min-width: 100px) {
  .foodCard {
    width: 230px;
  }
  .card__img {
    width: 230px;
  }
  .foodCard__desc {
    font-size: 10px;
  }
  .card__button {
    width: 180px;
  }
}
