.header {
  display: flex;
  justify-content: space-between;
}
.header__left {
  margin-left: 100px;
  margin-top: 25px;
}
.header__right {
  display: flex;
  margin-right: 150px;
  margin-top: 20px;
}
.navLink {
  cursor: pointer;
  margin-right: 10px;
  padding: 5px;
  font-size: 13px;
}
.navLink:hover {
  color: #ffca40;
}
.navLink__container {
  padding: 5px;
  margin-right: 5px;
}
.navLink__button {
  height: 40px;
  width: 100px;
  background-color: #ffca40;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.navLink__button:hover {
  background-color: white;
  border: 1px solid #ffca40;
  color: #ffca40;
}
.button-cotainer {
  margin-top: 10px;
}
.overlay {
}
/* .slide-pane__header {
  background-color: #ffca40;
} */
.cart__total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cart__button {
  width: 250px;
  height: 40px;
  background-color: #ffca40;
  color: black;
  border: none;
  padding: 5px;
  margin: 5px;
  margin-top: 10px;
  margin-right: 13px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 500;
}
.cart__cancel {
  width: 250px;
  height: 40px;
  background-color: white;
  color: #ffca40;
  border: 1px solid #ffca40;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 600;
}
.cart__cancel:hover {
  background-color: #ffca40;
  color: white;
}
.cart__button:hover {
  background-color: white;
  color: #ffca40;
  border: 1px solid #ffca40;
}
.cart__total__title {
  padding-top: 5px;
}
.cart__main {
  height: max-content;
  margin-bottom: 10px;
}
